h1 {
  color: green;
}

/* id 선택자 : #(샾) */
#monday{
  color: blueviolet;
}

/* class 선택자 : .(마침표) */
.git {
  color: lightgoldenrodyellow;
}

/* 태그(타입,요소) 선택자 */
h2 {
  color: blue !important;
}

h1 {
  color: pink;
}

h1 {
  color: red;
}

h1 {
  color: orange;
}
/* 우선순위가 같으면 제일 밑에 적은 스타일이 적용 */

/* ! 스타일 상속 */

body {
  font-size: 30px;
  background-color: yellowgreen;
}

p {
  font-size: 10px;
  background-color: transparent;
}

