* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#app {
  text-align: center;
}

#userData {
  margin-top: 20px;
}